@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}
h2, h3{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.header{
    height: auto;
    max-height: 550px;
    width: 100%;
    min-width: 300px;
    background: hsl(193, 100%, 96%)url(../images/bg-hero-desktop.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 45px 42px;
    margin-bottom: 60px;
}
.header .logo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
 .logo{
    background: transparent;
    width: 135px;
}
.header .button-1{
    background-color: #fff;
    padding: 8px 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}
.button-1:hover{
    cursor: pointer;
}
.button-1:active{
    color: #333;
    height: 37px;
}
.header .section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1-content{
    vertical-align: middle;
    width: 50%;
    max-width: 500px;
}
.section-1-content h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 40px;
}
.section-1-content p{
    font-weight: 400;
    line-height: 22px;
}
 .button-2{
    background-color: hsl(322, 100%, 66%);
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 10px 40px;
    color: #fff;
    margin-top: 17px;
}
.button-2:hover{
    cursor: pointer;
}
.button-2:active{
    background-color: hsl(322, 77%, 71%);
    height: 43px;
}
.your-mockups{
    width: 50%;
    max-width: 600px;
    min-width: 270px;
    height: auto;
    max-height: 370px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 30px 20px 35px 70px; 
    border-radius: 15px;
    height: auto;
    max-height: 400px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.alt{
    flex-direction: row-reverse;
}
.section-content{
    width: 50%;
    max-width: 500px;
    min-width: 200px;
}
.section-content h3{
    font-size: 25px;
}
.section-content p{
    font-weight: 300;
    color: hsl(208, 11%,55%);
}
.section-img{
    width: 50%;
    max-width: 400px;
    height: auto;
    max-height: 320px;
}
.start-wrap{
    position: relative;
    height: 150px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
.start{
    position: absolute;
    width:50%;
    max-width: 450px;
    min-width: 200px;
    height: auto;
    max-height: 150px;
    text-align: center;
    padding: 25px 40px;
    border-radius: 7px;
    box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.2);
    left: 25vw;
    top: 7vh;
    background-color: #fff;
    z-index: 99;
}
.start h2{
    font-size: 20px;
    font-weight: 600;
}
.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 70px;
    color: #fff;
}
.contact{
    width: 33.3%;
    max-width: 420px;
}
.footer-logo{
    margin-bottom: 17px;
    width: 140px;
}
.info{
    display: flex;
    margin-bottom: 17px;
    font-weight: 300;
    font-size: 13px;
}
.info span{
    margin-right: 15px;
}
.nav{
    width: 33.3%;
    max-width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 17px 25px;
    justify-items: start;
    align-items: center;
    padding: 20px;
}
.nav a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
}
.nav a::after{
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height:2px;
    background-color: #fff;
    border-radius: 5px;
    bottom: -6px;
    transform: scaleX(0);
    transition: .5s;
}
.nav a:hover::after{
    transform: scaleX(1);
}
.icon{
    width: 33.3%;
    max-width: 170px;
    display: flex;
    justify-content: space-between;
}
.icon div{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    font-size: 20px;
}
.icon i:hover{
    cursor: pointer;
}
.icon i:active{
    color: hsl(322, 100%, 66%);
}
.copyright{
    position: absolute;
    color: #fff;
    right: 3vw;
    bottom: 4vh;
    font-size: 9px;
    font-weight: 200;
}
@media screen and (max-width: 775px) {
    .section{
        padding: 15px 10px 13px 30px;
    }
    .start{
        width: 75%;
        min-height: 120px;
        left: 10vw;
        top: 10vh;
        padding: 20px 30px 15px;
    }
    .footer{
        margin-top: 30px;
        padding: 90px 30px 10px;
    }
}
@media screen and (max-width: 576px) {
    .header{
        padding: 15px 20px 20px;
        margin-bottom: 30px;
        max-height: fit-content;
    }
    .header .logo-header{
        margin-bottom: 15px;
    }
    .logo{
        width: 110px;
    }
    .header .button-1{
        padding: 6px 25px;
        font-size: 10px;
    }
    .button-1:active{
        height: 32px;
    }
    .header .section-1{
        flex-direction: column;
        align-items: center;
    }
    .section-1-content{
        width: 100%;
        text-align: center;
    }
    .section-1-content h2{
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
    }
    .button-2{
        width: 100%;
        max-width: 280px;
        margin-bottom: 30px;
    }
    .your-mockups{
        width: 100%;
    }
    .section{
        flex-direction: column-reverse;
        padding: 15px 20px;
    }
    .section-content{
        width: 100%;
        text-align: center;
        min-width: fit-content;
    }
    .section-content h3{
        line-height: 27px;
        margin-bottom: 10px;
    }
    .section-content p{
        font-weight: 400;
        line-height: 22px;
    }
    .section-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .start-wrap{
        flex-direction: column;
    }
    .start{
        min-width: fit-content;
        left: 2.5vw;
        max-height: fit-content;
        padding: 20px 17px;
        border-radius: 10px;
    }
    .start-button{
        margin-bottom: 7px;
    }
    .start h2{
        font-weight: bold;
    }
    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: hsl(193, 94%, 7%);
    }
    .contact{
        width: 100%;
        max-width: fit-content;
    }
    .footer-logo{
        width: 100%;
        max-width: 210px;
    }
    .info{
        font-weight: 400;
        font-size: 14px;
    }
    .info span{
        margin-right: 20px;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding-left: 0;
    }
    .nav a{
        font-weight: 400;
        font-size: 15px;
    }
    .icon{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 40px;
        max-width: none;
    }
    .copyright-div{
        width: 100%;
        height: 30px;
        position: relative;
    }
    .copyright{
       left: 15vw;
       right: 13vw;
       bottom: 2vh; 
    }
}